body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #383838;
    color: #dabba6;
    padding: 10px 0;
    margin: 0 14rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.beers-image {
    height: 70px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 2s ease;

    &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        transition: 1s ease;

    }
}

nav {
    flex: 1;
}

.navbar-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-items li {
    margin-right: 15px;
}

.navbar-items a {
    text-decoration: none;
    color: #dabba6;
    font-weight: bold;
    font-size: 16px;
}

.navbar-items a:hover {
    color: white;
}

.navbar-items li:last-child a {
    background-color: #fff;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-items li:last-child a:hover {
    background-color: #ddd;
}
