<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div>
        <label for="email">E-Mail</label>
        <input type="text" id="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button> | 
    <button (click)="onSwitchMode()" type="button">{{ isLoginMode ? 'Sign Up Mode' : 'Login Mode' }}</button>
</form>
