<div class="pages">
    <ng-container *ngIf="currentPage !== 1">
        <button (click)="goToPage(1)">First Page</button>
    </ng-container>
    
    <ng-container *ngFor="let page of visiblePages">
        <button (click)="goToPage(page)" [class.active]="currentPage === page" [ngClass]="{'active-page': page === currentPage}">{{ page }}</button>
    </ng-container>
    
    <ng-container *ngIf="currentPage !== totalPages">
        <button (click)="goToPage(totalPages)">Last Page</button>
    </ng-container>
</div>
